.home-container {
    display: flex;
    background-color: white;
    height: 100vh;
    flex-wrap: wrap;
}

.home-picture {
    display: flex;
    width: 50%;
    padding-top: 5%;
    flex-direction: column;
    align-self: center;

}
.home-picture img{
    width: 300px;
    height: 400px;
    border-radius: 50%;
    margin-left: 25%;
}
.icon-contact {
    display: flex;
    margin-left: 10%;
    margin-top: 20px;
    justify-content: center;
    list-style: none;
}
.icon-contact-item {
    margin-right: 40px;
}
.icon-contact-item:nth-child(1) {
    animation: fadeInfromTop 0.3s ease-in-out;
}
.icon-contact-item:nth-child(2) {
    animation: fadeInfromTop 0.75s ease-in-out;
}
.icon-contact-item:nth-child(3) {
    animation: fadeInfromTop 1s ease-in-out;
}

.icon-contact-item_link {
    text-decoration: none;
    color: #0e2431;
    font-size: 15px;
}

.icon-contact-item_link:hover {
    color: #0e2431;
    opacity: 0.8;
}

.icon-contact-item_linkicon {
    background-color: white;
}

.home-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.home-text-intro h1{
    color: #0e2431;
    line-height: 1.5;
    font-weight: bold;
    font-size: 3.7rem;
}
.home-text-intro span{
    color: #4070f4;
}

@keyframes fadeInfromTop {
    from {
        opacity: 0.1;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* tablet section */
@media (max-width: 767.98px) { 
    .home-picture,
    .home-text {
        width: 100%;
        position: relative;
    }
    
    .home-picture img{
        width: 270px;
        height: 350px;
        margin: 5% auto 0;
    }
    .icon-contact {
        justify-content: center;
        list-style: none;
        position: absolute;
        flex-direction: column;
        top: 50%;
        right: 0;
    }
    .icon-contact-item {
        margin-bottom: 25px;
    }
    .home-text-intro h1{
        font-size: 2rem;
        margin-left: 20px;
    }
    .home-text-button {
        margin-left: 20px;
    }
}

/* mobile section */

@media (max-width: 575.98px) {
    .home-text { 
        align-self: normal;
    }
    .home-picture img{
        width: 230px;
        height: 300px;
        margin: 30% auto 0;
    }
    .icon-contact {
        top: 50%;
        margin-right: -20px;
    }

    .home-text-intro h1{
        margin-top: -10%;
    }



 }
